# Compiled Object files
*.slo
*.lo
*.o
Source/**/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

*.pdb
*.ipch
*.tlog
*.db
*.log
*.idb
*.recipe
*.ilk
.vs
*enc


/Source/Debug
/Source/Release
/Source/Build
/Lib/
/Temp/
!/BuiltinAssets/
*.user
.vs

BuiltinAssets/model/Bistro/*
*.vcxproj
*.filters
